* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font: 14px 'Helvetica Neue' , Helvetica, Arial, sans-serif;
    background: rgb(10, 10, 10);
    margin: 0;
    overflow: auto;
}

.google-meet__main {
    display: flex;
    width: 100%;
    height: 85%;
}

/*                          Pinned Section                          */

.google-meet__pinned {
    /* background: rgb(100, 100, 100); */
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pinned__icon {
    /* 20px -> 1.43rem */
    /* max-width: 1.43rem;
    max-height: 1.43rem; */
    max-width: 20px;
    max-height: 20px;
    filter: invert(100%);
    margin: 10px;
}

#root_img-pin {
    display: flex;
    transform: translate(100%, 1500%);
}

.pinned__text {
    color: white;
    display: flex;
    transform: translate(150%, 1350%);
}

#root_img-microphone{
    position: relative;
    top: -45%;
    transform: translate(0%, 0%);
}

.pinned__head {
    color: white;
    height: 170px;
    width: 170px;
    font-size: 70px;
    font-weight: 400;
    background: #3E45C7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pinned__head__hover {
    display: flex;
    justify-content: space-around;
    width: 8%;
    position: absolute;
    border-radius: 30px;
    background: rgb(50, 50, 50);
    filter: opacity(0%);
    padding: 1%;
}

#hover-0, #hover-1, #hover-2 {
    max-width: 25px;
    max-height: 25px;
    filter: invert(100%);
}

.google-meet__pinned:hover .pinned__head__hover {
    filter: opacity(67%);
}

.pinned__head:hover 
    .pinned__head__hover:hover {
            filter: opacity(90%);
}



/*                          Side Section                          */
.google-meet__side {
    /* background: white; */
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.side__participant {
    width: 200px;
    height: 150px;
    background: rgb(70, 72, 75);
    margin: 5px;
    border-radius: 10px;
    /* display: flex; */
    /* justify-content: space-around; */
}

.participant__name {
    color: white;
    position: relative;
    top: 120px;
    left: 10px;
}

.participant__head {
    color: white;
    height: 70px;
    width: 70px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5%;
    left: 35%;
}

#participant-0{
    background: #A9A9F0;
}

#participant-1{
    background: #E0DD7E;
}

#participant-2{
    background: #AD5339;
}

#participant-3{
    background: #95AE52;
}

#participant-4{
    background: #383736;
}

.participant__microphone {
    background: rgb(200, 200, 200);
    padding: 2%;
    border-radius: 50%;
    max-width: 22px;
    max-height: 22px;
    filter: invert(100%);
    position: relative;
    top: -110px;
    left: 170px;
}


/*                          Footer Section                          */
.google-meet__footer{
    /* background: rgb(150, 150, 150); */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transform: translate(0%, 40%);
}

.footer__text {
    /* width: 1500px; */
    font-size: 15px;
    color: white;
    transform: translate(-35%, 0%);
}

.footer__function {
    /* background: green; */
    display: flex;
    /* flex-direction: row; */
}

.footer__function__label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__function__button{
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    /* border: none; */
    background: rgb(250, 50, 50);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.footer__function__hint {
    color: white;
    font-size: 13px;
    position: absolute;
    transform: translate(0%, -100%);
    filter: opacity(0%);
}

.footer__function__icon {
    position: absolute;
    max-width: 20px;
    max-height: 20px;
    filter: invert(100%);
}

#func-2, #func-3, #func-4 {
    background: rgb(70, 70, 70);
}

#func-5 {
    width: 60px;
    border-radius: 20px;
}

#label-0:hover #hint-0 {
    filter: opacity(100%);
}

#label-1:hover #hint-1 {
    filter: opacity(100%);
}

#label-2:hover #hint-2 {
    filter: opacity(100%);
}

#label-3:hover #hint-3 {
    filter: opacity(100%);
}

#label-4:hover #hint-4 {
    filter: opacity(100%);
}

#label-5:hover #hint-5 {
    filter: opacity(100%);
}

#func-0:checked {
    background: rgb(70, 70, 70);
}

.footer__info {
    transform: translate(35%, 0%);
    display: flex;
}

.footer__info__icon {
    max-width: 25px;
    max-height: 25px;
    filter: invert(100%);
    margin: 10px;
}